/* --------------------------------------------/
|              CUSTOM PROPERTIES 
\* -------------------------------------------*/

@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@300;500;800&display=swap");

/* El selector root es la misma etiqueta html pero tiene mayor jerarquia */
:root {
  --primary: #814c28;
  --blackLogo: #000;
  --purple: #792881;
  --red: #e7323b;
  --black: #444;
  --red-alpha: rgba(231, 50, 59, 0.8);
  --green: #69b42e;
  --white: #fff;
  --gray-light: #f0f0f0;
  --alpha-color: rgba(36, 50, 100, 0.6);
  --black-alpha-color: rgba(12, 12, 12, 0.6);
  --white-alpha-color: rgba(255, 255, 255, 0.6);
  --max-width: 1200px;
  --shadow-text: 2px 2px 8px rgba(0, 0, 0, 0.47);
  --box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.1);
}

/* --------------------------------------------/
|                     RESET 
\* -------------------------------------------*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Arima Madurai", sans-serif, cursive;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  /* esta propiedad me quita el scroll horizontal 
  sin importar el tamaño de la imagen*/
  overflow-x: hidden;
  color: var(--black);
}

a {
  color: var(--medium-blue);
  transition: all 0.5s ease-out;
  font-size: 1.7rem;
  text-decoration: none;
}

a:hover {
  opacity: 0.75;
}

h1 {
  margin: 0;
  font-size: 3.5rem;
  color: var(--red);
}

h2 {
  margin: 0;
  font-size: 2.5rem;
}

h3 {
  margin: 0;
  font-size: 2rem;
}

h4 {
  margin: 0;
  font-size: 1.75rem;
}

h5 {
  margin: 0;
  font-size: 1.5rem;
}

h6 {
  margin: 0;
  font-size: 1.25rem;
}
/*Para hacer todas las imágenes responsivas
con respecto a su contenedor*/
img {
  max-width: 100%;
  height: auto;
}

p {
  margin: 0;
  font-size: 1.7rem;
  line-height: 1.5;
}

/* --------------------------------------------/
|                  HEADER
\* -------------------------------------------*/

header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: var(--primary);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.nav-logo img {
  padding: 1rem 0;
}

.nav-items ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-items li img {
  display: flex;
  width: auto;
  height: 2rem;
}

.nav-items li img:hover {
  opacity: .5;
}

.nav-items li {
  font-size: 1.7em;
  color: var(--white);
  margin-right: 2rem;
  padding: .5rem;
  cursor: pointer;
}

.nav-items li:hover {
  color: var(--white-alpha-color);
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo h1 {
  margin-top: 6rem;
  text-align: center;
}

/* --------------------------------------------/
|                  SITE STYLES
\* -------------------------------------------*/

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 2rem;
}

.hero-container {
  position: relative;
}

.logo h1 {
  margin-top: 6rem;
  text-align: center;
}

.slogan {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
  bottom: 0;
}

.slogan p {
  text-align: center;
  font-size: 4.5vw;
  color: var(--gray-light);
  text-shadow: 2px 7px 7px rgba(19, 4, 4, 0.4); 
}

.btn-primary {
  background-color: var(--primary);
  padding: 1rem;
  color: var(--white);
  text-transform: uppercase;
  border-radius: .5rem;
  letter-spacing: .2rem;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
}


/* Products Styles */

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.product-card {
  display: grid;
  justify-content: center;
  background-color: var(--gray-light);
  width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 20px -2px rgba(0,0,0,0.29);
}

.product-img-container{
  background: url(../img/pijama_nina.png) no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.product-img-container-1{
  background: url(../img/pijama_nino.png) no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.product-img-container-2{
  background: url(../img/pijama_dama.png) no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.product-img-container-3{
  background: url(../img/pijama_hombre.png) no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 200px;
  width: 100%;
}

.product-img-container-4{
  background: url(../img/DSC02899_edited.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 300px;
}

/* Contact styles*/

.icon-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
}

/* --------------------------------------------/
|                  FOOTER
\* -------------------------------------------*/

footer {
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  background-color: var(--primary);
}

.footer-contain {
  padding: 1rem;
  text-align: center;
  color: var(--white);
  font-size: 1.5rem;
}


/* --------------------------------------------/
|                  UTILS
\* -------------------------------------------*/

.w-100 {
  width: 100%;
}

.pt-20 {
  padding-top: 2rem;
}

.pb-60 {
  padding-bottom: 6rem;
}

.m-0-auto {
  margin: 0 auto;
}

.mt-20 {
  margin-top: 2rem;
}

.mb-20 {
  margin-bottom: 2rem;
}

.text-center {
  text-align: center;
}

.purple {
  color: var(--purple);
}

/* 
Esta propiedad le dice al navegador
que quiero que todos los elementos
con el atributo ID tengan un scroll
margin de 4 ex. las unidades ex son 
para indicar la letra más alta del 
alfabeto, la cual es la X
 */

[id] {
  scroll-margin-top: 24ex;
}

/* --------------------------------------------/
|                  MEDIA QUERIES
\* -------------------------------------------*/

@media screen and (max-width: 768px) {
  .products-container {
    grid-template-columns: 1fr;
    gap: 0;
  }
  .product-card {
    margin-top: 2rem;
  }
}